<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>어드민 로그인</h1>
<p>faraday.m, feynman.r, kelly.j 요거 셋중에 맘에드는거 골라쓰셈</p>

<label> admin code :
    <input type="text" id="admin-login" name="admin-login" required minlength="2" maxlength="10" size="10">
    <input type="submit" value="login" />
</label>


</body>
</html>