<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<label> 제목검색
    <input type="text" id="titleSearch" name="titleSearch" required minlength="2" maxlength="30" size="30">
    <input type="submit" value="제목 검색" />
</label>

<hr>


<label> 저자 검색
    <input type="text" id="authorSearch" name="authorSearch" required minlength="2" maxlength="10" size="10">
    <input type="submit" value="저자 검색" />
</label>

<hr>

</body>
</html>