<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h1>
    유저로그인
</h1>
<p>유저로그인은 나중에 구청 중앙도서관 회원 DB 받아다 붙일꺼라 "일부러" 안만듬</p>
<p> 그래도 예약기능은 테스트해봐야하니 "0000","1234" 입력하면 회원로그인 가능</p>
<label> iam code
    <input type="text" id="iam-code" name="iam-code" required minlength="2" maxlength="10" size="10">
    <input type="submit" value="login" />
</label>

<hr>


</body>
</html>